localhost {
    reverse_proxy /api/* http://server:4000 {
        header_up Host {upstream_hostport}
    }

    reverse_proxy /* http://client:4200 {
        header_up Host {upstream_hostport}
    }
}