localhost {
    handle /api* {
        uri strip_prefix /api

        reverse_proxy http://server:4000  {
            header_up Host {upstream_hostport}
        }   
    }

    handle /* {
        reverse_proxy http://client:4200  {
            header_up Host {upstream_hostport}
        }   
    }
}